@font-face {
  font-family: Rubik;
  font-weight: 300;
  src: url("../../static/fonts/rubik/Rubik-Light.ttf"); }

@font-face {
  font-family: Rubik;
  font-weight: 500;
  src: url("../../static/fonts/rubik/Rubik-Regular.ttf"); }

@font-face {
  font-family: Rubik;
  font-weight: 700;
  src: url("../../static/fonts/rubik/Rubik-Bold.ttf"); }

* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  background-color: #000000;
  font-family: rubik; }

.main {
  position: absolute;
  width: 100%;
  min-height: 100vh; }

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: inherit; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  z-index: 1; }
  header .logo {
    width: 100px;
    height: 100%; }
  header nav {
    display: flex; }
    header nav a {
      color: #ffffff;
      display: flex;
      align-items: center;
      padding: 0.5em;
      border: 2px solid transparent; }
      header nav a:hover {
        border-color: #ffffff; }

.landing {
  padding: 1em;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://s.yimg.com/uu/api/res/1.2/rVdUX8eVa31S_5JDCvvp0A--~B/Zmk9ZmlsbDtweW9mZj0wO3c9NjQwO2g9MzYwO3NtPTE7YXBwaWQ9eXRhY2h5b24-/http://media.zenfs.com/en-US/video/video.storyful.com/866362344b92b1cb1d9c3a36db9b0520"); }
  @media (min-width: 768px) {
    .landing {
      align-items: center; } }
  .landing .flex-container {
    max-width: 600px;
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .landing .flex-container {
        background-color: rgba(0, 0, 0, 0.5);
        flex-direction: row;
        align-items: center;
        padding: 1em; } }
    .landing .flex-container > img {
      display: block;
      width: 100%;
      max-width: calc(300px + 2em);
      height: 100%;
      padding: 2em; }
    .landing .flex-container > nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rbga(0, 0, 0, 0.3); }
      .landing .flex-container > nav > a {
        display: block;
        padding: 2em;
        text-align: center;
        border: 3px solid white;
        margin: 10px;
        color: #ffffff; }
        .landing .flex-container > nav > a.-fund {
          border: none;
          margin-top: 1em;
          padding: 0; }

.auth-form .errorlist {
  order: -1;
  padding: 10px;
  border: 1px solid red;
  background-color: pink;
  border-radius: 5px;
  list-style-type: none;
  margin-top: 0; }

.auth-form .helptext {
  display: none; }

.auth-form br {
  display: none; }

.schedule-page {
  padding: 1em;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://i.giphy.com/media/wkKyBT94rB196/giphy.webp"); }
  @media (min-width: 768px) {
    .schedule-page {
      align-items: center; } }
.schedule {
  border: 3px solid rgba(0, 140, 255, 0.645);
  color: #ffffff;
  padding: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); }
  .schedule h1 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    color: rgba(0, 140, 255, 0.645);
    margin-top: 0;
    padding: 0.5em;
    letter-spacing: 14px;
    color: #64b9ff; }
  .schedule table {
    width: 100%;
    border: 1px solid #ffffff;
    border-collapse: collapse;
    margin-bottom: 1em; }
    .schedule table tr {
      border: 1px solid #ffffff; }
    .schedule table th, .schedule table td {
      width: 50%;
      padding: 0.5em;
      font-weight: normal; }
    .schedule table th:first-child,
    .schedule table td:first-child {
      text-align: right; }
    .schedule table th:last-child,
    .schedule table td:last-child {
      text-align: left; }
    .schedule table td[colspan="2"] {
      text-align: center; }

.watch-page {
  padding: 1em;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #000000; }
  .watch-page main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .watch-page main a {
      text-decoration: underline; }
  .watch-page footer {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #FFFFBC; }
    .watch-page footer .logo {
      width: 100px;
      height: 100%; }
    .watch-page footer nav {
      display: flex; }
      .watch-page footer nav a {
        color: #ffffff;
        display: flex;
        align-items: center;
        padding: 0.5em;
        border: 2px solid transparent; }
        .watch-page footer nav a:hover {
          border-color: #ffffff; }
    @media (max-width: 767px) {
      .watch-page footer {
        justify-content: center; }
        .watch-page footer nav {
          display: none; } }
.watch-page {
  padding: 1em;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #000000; }
  .watch-page main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .watch-page main a {
      text-decoration: underline; }
  .watch-page footer {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #FFFFBC; }
    .watch-page footer .logo {
      width: 100px;
      height: 100%; }
    .watch-page footer nav {
      display: flex; }
      .watch-page footer nav a {
        color: #ffffff;
        display: flex;
        align-items: center;
        padding: 0.5em;
        border: 2px solid transparent; }
        .watch-page footer nav a:hover {
          border-color: #ffffff; }
    @media (max-width: 767px) {
      .watch-page footer {
        justify-content: center; }
        .watch-page footer nav {
          display: none; } }

/*# sourceMappingURL=index.css.map */