@font-face {
  font-family: Rubik;
  font-weight: 300;
  src: url("../../static/fonts/rubik/Rubik-Light.ttf"); }

@font-face {
  font-family: Rubik;
  font-weight: 500;
  src: url("../../static/fonts/rubik/Rubik-Regular.ttf"); }

@font-face {
  font-family: Rubik;
  font-weight: 700;
  src: url("../../static/fonts/rubik/Rubik-Bold.ttf"); }

* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  background-color: #000000;
  font-family: rubik; }

.main {
  position: absolute;
  width: 100%;
  min-height: 100vh; }

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: inherit; }

@media (max-width: 767px) {
  .-desktop-only {
    display: none !important; } }

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  z-index: 1; }
  header .logo {
    width: 100px;
    height: 100%; }
  header nav {
    display: flex; }
    header nav a {
      color: #ffffff;
      display: flex;
      align-items: center;
      padding: 0.5em;
      border: 2px solid transparent; }
      header nav a:hover {
        border-color: #ffffff; }

.landing {
  padding: 1em;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://s.yimg.com/uu/api/res/1.2/rVdUX8eVa31S_5JDCvvp0A--~B/Zmk9ZmlsbDtweW9mZj0wO3c9NjQwO2g9MzYwO3NtPTE7YXBwaWQ9eXRhY2h5b24-/http://media.zenfs.com/en-US/video/video.storyful.com/866362344b92b1cb1d9c3a36db9b0520"); }
  @media (min-width: 768px) {
    .landing {
      align-items: center; } }
  .landing .flex-container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 3em; }
    @media (min-width: 768px) {
      .landing .flex-container {
        margin-top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1em; } }
    .landing .flex-container > img {
      display: block;
      width: 100%;
      max-width: calc(300px + 2em);
      height: 100%;
      padding: 2em; }
    .landing .flex-container > nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rbga(0, 0, 0, 0.3); }
      .landing .flex-container > nav > a {
        display: block;
        padding: 2em;
        text-align: center;
        border: 3px solid white;
        margin: 10px;
        color: #ffffff; }
        .landing .flex-container > nav > a.-fund {
          border: none;
          margin-top: 1em;
          padding: 0; }

.auth-page {
  padding: 1em;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  @media (min-width: 768px) {
    .auth-page {
      align-items: center; } }
  @media (max-width: 767px) {
    .auth-page {
      position: absolute; } }
  .auth-page > .card {
    width: calc(600px + 4em);
    color: #ffffff;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.5); }
    @media (max-width: 767px) {
      .auth-page > .card {
        width: calc(300px + 4em);
        margin-top: 3em; } }
    .auth-page > .card > h1 {
      font-weight: normal; }
    .auth-page > .card > .auth-form label {
      display: block;
      margin-bottom: 0.5em; }
    .auth-page > .card > .auth-form input {
      display: block;
      background-color: #333333;
      margin-bottom: 2em;
      outline: none;
      border: none;
      width: 100%;
      color: #ffffff;
      padding: 1em;
      border-radius: 3px; }
    .auth-page > .card > .auth-form button {
      display: block;
      width: 100%;
      padding: 1em;
      text-align: center;
      border: 3px solid #ffffff;
      background-color: transparent;
      color: #ffffff;
      cursor: pointer;
      margin-bottom: 2em;
      text-transform: uppercase;
      font-size: 1em; }
    .auth-page > .card > .auth-form a {
      text-decoration: underline; }
    .auth-page > .card > .auth-form .errorlist {
      order: -1;
      padding: 10px;
      background-color: red;
      border-radius: 3px;
      list-style-type: none;
      margin-top: 0; }
    .auth-page > .card > .auth-form .helptext {
      display: none; }
    .auth-page > .card > .auth-form br {
      display: none; }
    @media (min-width: 768px) {
      .auth-page > .card > .auth-form > .two-column-layout {
        position: relative;
        width: 600px;
        height: 290px; }
        .auth-page > .card > .auth-form > .two-column-layout > label,
        .auth-page > .card > .auth-form > .two-column-layout > input {
          position: absolute;
          width: calc(50% - 1.5em); }
        .auth-page > .card > .auth-form > .two-column-layout > label:nth-of-type(1) {
          left: 0;
          top: 0; }
        .auth-page > .card > .auth-form > .two-column-layout > input:nth-of-type(1) {
          left: 0;
          top: 30px; }
        .auth-page > .card > .auth-form > .two-column-layout > label:nth-of-type(2) {
          right: 0;
          top: 0; }
        .auth-page > .card > .auth-form > .two-column-layout > input:nth-of-type(2) {
          right: 0;
          top: 30px; }
        .auth-page > .card > .auth-form > .two-column-layout > label:nth-of-type(3) {
          left: 0;
          top: 90px; }
        .auth-page > .card > .auth-form > .two-column-layout > input:nth-of-type(3) {
          left: 0;
          top: 120px; }
        .auth-page > .card > .auth-form > .two-column-layout > label:nth-of-type(4) {
          right: 0;
          top: 90px; }
        .auth-page > .card > .auth-form > .two-column-layout > input:nth-of-type(4) {
          right: 0;
          top: 120px; }
        .auth-page > .card > .auth-form > .two-column-layout > label:nth-of-type(5) {
          left: 0;
          top: 180px; }
        .auth-page > .card > .auth-form > .two-column-layout > input:nth-of-type(5) {
          left: 0;
          top: 210px; }
        .auth-page > .card > .auth-form > .two-column-layout > label:nth-of-type(6) {
          right: 0;
          top: 180px; }
        .auth-page > .card > .auth-form > .two-column-layout > input:nth-of-type(6) {
          right: 0;
          top: 210px; } }
.browse-page {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 4em;
  padding: 1em; }
  .browse-page > .title {
    display: flex;
    padding-left: 0.5em; }
  .browse-page > .film-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; }
    .browse-page > .film-list > .film {
      display: flex;
      flex-direction: column;
      margin: 1em;
      scale: 1;
      transition: scale cubic-bezier(0.075, 0.82, 0.165, 1); }
      .browse-page > .film-list > .film > .thumbnail {
        width: 200px;
        height: 140px;
        background-color: #333333;
        border-radius: 5px;
        border: none; }
      .browse-page > .film-list > .film > .title {
        margin-bottom: 0.5em; }
      .browse-page > .film-list > .film > .description {
        margin-top: 0;
        font-size: 12px; }
      .browse-page > .film-list > .film:hover {
        cursor: pointer;
        scale: 1.05; }

.watch-page {
  padding: 1em;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #000000; }
  .watch-page main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .watch-page main a {
      text-decoration: underline; }
  .watch-page footer {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #FFFFBC; }
    .watch-page footer .logo {
      width: 100px;
      height: 100%; }
    .watch-page footer nav {
      display: flex; }
      .watch-page footer nav a {
        color: #ffffff;
        display: flex;
        align-items: center;
        padding: 0.5em;
        border: 2px solid transparent; }
        .watch-page footer nav a:hover {
          border-color: #ffffff; }
    @media (max-width: 767px) {
      .watch-page footer {
        justify-content: center; }
        .watch-page footer nav {
          display: none; } }

/*# sourceMappingURL=index.css.map */