.landing {
    @include full-page-cover;

    background-image: url("https://s.yimg.com/uu/api/res/1.2/rVdUX8eVa31S_5JDCvvp0A--~B/Zmk9ZmlsbDtweW9mZj0wO3c9NjQwO2g9MzYwO3NtPTE7YXBwaWQ9eXRhY2h5b24-/http://media.zenfs.com/en-US/video/video.storyful.com/866362344b92b1cb1d9c3a36db9b0520");

    .flex-container {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        margin-top: 3em;

        @media(min-width: 768px) {
            margin-top: 0;
            background-color: rgba(0,0,0,0.5);
            flex-direction: row;
            align-items: center;
            padding: 1em;
        }

        > img {
            display: block;
            width: 100%;
            max-width: calc(300px + 2em);
            height: 100%;
            padding: 2em;
        }

        > nav {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: rbga(0,0,0,0.3);

            > a {
                display: block;
                padding: 2em;
                text-align: center;
                border: 3px solid white;
                margin: 10px;
                color: $color-white;

                &.-fund {
                    border: none;
                    margin-top: 1em;
                    padding: 0;
                }
            }
        }
    }
}