{% extends 'base.html' %}

{% block title %} | Log In {% endblock %}

{% block header %}
    {% include '../partials/auth_header.html' %}
{% endblock %}

{% block content %}
    <main class="auth-page">
        <div class="card">
            <h1>Log In</h1>
            <form class='auth-form' method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Log In</button>
                <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up &#9656;</a></p>
                <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
            </form>
        </div>
    </main>
{% endblock %}