{% extends 'base.html' %}
{% load static %}

{% block title %} | Home {% endblock %}

{% block content %}
    <main class="landing">
        <div class="flex-container">
            <img src="{% static 'images/logo-white.png' %}" alt="AHOY Indie Media">
            <nav>
                <a role="button" href="{% url 'watch' %}">WATCH</a>
                <a role="button" href="{% url 'listen' %}">LISTEN</a>
                <a role="button" href="{% url 'schedule' %}">SCHEDULE</a>
                <a
                    class="-fund"
                    target="_blank"
                    href="https://checkout.stripe.com/c/pay/cs_live_a1WT7y2ZokGeYyFV871Hm8aW7u4SklKgFcTZuslwLdct7SRulb4giLd8hW#fidkdWxOYHwnPyd1blppbHNgWjA0SDJvNklAPW5OVFRnMmo2Z2g3ME5TYm1GcD1INXFoRDJCUjI8ckFNZGxLPVNVS2AzXUhAMUZsazF1SzJgS099MHJ8bUI2Vz1GNU5yb05pMTFfU3BsNFRDNTVEZ3VNR3ZKMycpJ3VpbGtuQH11anZgYUxhJz8nNDFuZE12NlJPZjBiZGMzZkhIJyknd2BjYHd3YHdKd2xibGsnPydtcXF1dj8qKmRtanwrampqKid4JSUl"
                >
                    FUND AHOY
                </a>
            </nav>
        </div>
    </main>
{% endblock %}