{% extends 'base.html' %}

{% block title %} | Sign Up {% endblock %}

{% block header %}
    {% include './partials/auth_header.html' %}
{% endblock %}

{% block content %}
    <main class="auth-page">
        <div class="card">
            <h1>Sign Up</h1>
            <form class='auth-form' method="post">
                {% csrf_token %}
                <div class="two-column-layout">
                    {{ form }}
                </div>
                <button type="submit">Sign up</button>
                <p>Already have an account? <a href="{% url 'login' %}">Log In &#9656;</a></p>
            </form>
        </div>
    </main>
{% endblock %}