{% extends 'base.html' %}
{% load static %}

{% block title %} | Watch {% endblock %}

{% block content %}
    <div class="watch-page">
        <main>
            {% if watch_item %}
                <!-- TODO - add video -->
            {% else %}
                <h2>Womp!</h2>
                <p>We don't have any content scheduled.</p>
                <p>Check back later or see <a href="{% url 'schedule' %}">today's schedule</a>.</p>
            {% endif %}
        </main>
        <footer>
            <a href="/">
                <img class="logo" src="{% static 'images/logo-white.png' %}" alt="AHOY Indie Media">
            </a>
            {% if watch_item %}
                <div class="now-playing">
                    <h2>Now Playing: {{ watch_item.title }}</h2>
                    <p>{{ watch_item.description }}</p>
                </div>
            {% endif %}
            <nav>
                <a role="button" href="{% url 'watch' %}">WATCH</a>
                <a role="button" href="{% url 'listen' %}">LISTEN</a>
                <a role="button" href="{% url 'schedule' %}">SCHEDULE</a>
            </nav>
        </footer>
    </div>
{% endblock %}